.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row .col {
  float: left;
  box-sizing: border-box; }

.row .col-1 {
  float: left;
  width: 8.33333%;
  box-sizing: border-box; }

.row .col-2 {
  float: left;
  width: 16.66667%;
  box-sizing: border-box; }

.row .col-3 {
  float: left;
  width: 25%;
  box-sizing: border-box; }

.row .col-4 {
  float: left;
  width: 33.33333%;
  box-sizing: border-box; }

.row .col-5 {
  float: left;
  width: 41.66667%;
  box-sizing: border-box; }

.row .col-6 {
  float: left;
  width: 50%;
  box-sizing: border-box; }

.row .col-7 {
  float: left;
  width: 58.33333%;
  box-sizing: border-box; }

.row .col-8 {
  float: left;
  width: 66.66667%;
  box-sizing: border-box; }

.row .col-9 {
  float: left;
  width: 75%;
  box-sizing: border-box; }

.row .col-10 {
  float: left;
  width: 83.33333%;
  box-sizing: border-box; }

.row .col-11 {
  float: left;
  width: 91.66667%;
  box-sizing: border-box; }

.row .col-12 {
  float: left;
  width: 100%;
  box-sizing: border-box; }

.container {
  max-width: 1140px;
  min-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

input {
  outline: 0; }

body {
  margin: 0; }

@keyframes slideToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@keyframes slideFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.slide-leave {
  animation: slideToLeft 1s ease; }

.slide-enter {
  animation: slideFromRight 1s ease; }

.slide-leave-reverse {
  animation: slideToRight 1s ease; }

.slide-enter-reverse {
  animation: slideFromLeft 1s ease; }

.slides {
  position: relative;
  overflow: hidden; }
  .slides .slide-item {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(0);
    display: none;
    backface-visibility: hidden; }
    .slides .slide-item.actived {
      position: relative;
      display: block; }
  .slides .slide-nav-left, .slides .slide-nav-right {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100px; }
    .slides .slide-nav-left i, .slides .slide-nav-right i {
      color: gray;
      font-size: 25px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.5s ease;
      background: #fafafa;
      border-radius: 50%;
      padding: 15px 13px 15px 17px; }
    .slides .slide-nav-left:hover i, .slides .slide-nav-right:hover i {
      opacity: 1; }
  .slides .slide-nav-right {
    right: 0px; }
    .slides .slide-nav-right i {
      padding: 15px 17px 15px 13px; }

.slide-item .descr {
  margin: 0;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white; }
