@keyframes slideToLeft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slideFromRight{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideFromLeft{
    from{
        
        transform: translateX(-100%);
    }
    to{
        
        transform: translateX(0);
    }
}
@keyframes slideToRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
@keyframes fadeOut{
    from{
       opacity: 1;
    }
    to{
       opacity: 0;
    }
}
$duration:1s;
$ease:ease;
.slide-leave{
    animation: slideToLeft $duration $ease  ;
}
.slide-enter{
    animation: slideFromRight $duration $ease ;
}
.slide-leave-reverse{
    animation: slideToRight $duration $ease ;
}
.slide-enter-reverse{
    animation: slideFromLeft $duration $ease ;
}
.slides{
    position: relative;
    overflow: hidden;
    .slide-item{
        &.actived{
            position: relative;
            display: block;
        }
        position: absolute;
        width:100%;
        top:0;
        left:0;
        overflow: hidden;
        transform: translateX(0);
        display: none;
        backface-visibility: hidden;
    }
    .slide-nav-left,.slide-nav-right{
        position: absolute;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top:0;
        width:100px;
        i{
             color:gray;
             font-size:25px;
             cursor: pointer;
             opacity: 0;
             transition: opacity 0.5s ease;
             background: #fafafa;
             border-radius: 50%;
             padding:15px 13px 15px 17px;
        }
        &:hover{
            i{
                opacity: 1;
            }
        }
    }
    .slide-nav-right{
        right:0px;
        i{
            padding:15px 17px 15px 13px;
        }
    }
}